---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/188.121.15.4?access_key=1de96d674202e341c06139dbe054ccd3&fields=ip%2Ccontinent_name%2Ccountry_name%2Cregion_name%2Ccity%2Czip%2Clatitude%2Clongitude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; Charset=UTF-8
      x-apilayer-transaction-id:
      - 80474a8b-354b-44c5-bb58-6f2bc2d7b0d3
      x-request-time:
      - '0.022'
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"188.121.15.4","continent_name":"Europe","country_name":"Poland","region_name":"Lower
        Silesia","city":"Wroc\u0142aw","zip":"53-142","latitude":51.08361053466797,"longitude":17.001310348510742}'
  recorded_at: Sat, 04 Apr 2020 13:11:52 GMT
recorded_with: VCR 5.1.0
